/ _pdf_modal.html.erb
#pdfModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "pdfModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#pdfModalLabel.modal-title PDF Viewer
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        .embed-responsive.embed-responsive-16by9
          %object.embed-responsive-item{:data => "#{@pdf_url}", :type => "application/pdf"}
            %p
              It appears you don't have a PDF plugin for this browser. No worries, you can
              %a{:href => "#{@pdf_url}"} click here to download the PDF file.
