.page-wrap.d-flex.flex-row.align-items-center
  .container.m-5
    .row.justify-content-center
      .col-md-12.text-center
        %span.display-1.d-block
          Error 500

        .mb-4.lead
          Something went wrong. We'll be back soon!

        = link_to "Back to Home", root_path, class: "btn btn-dark w-10"
