.page-wrap.d-flex.flex-row.align-items-center
  .container.m-5
    .row.justify-content-center
      .col-md-12.text-center
        %span.display-1.d-block
          Error 404

        .mb-4.lead
          We are sorry, but the page you are looking for was not found.

        = link_to "Back to Home", root_path, class: "btn btn-dark w-10"
