

.container.my-3
  .main-body
  %br
  %h1.text-center
    HIRING FORM
  %br

    .row
      %h3
        TECH STACK

      %br
      .col-md-4
        .form-check
          %input#flexCheckDefault.form-check-input{type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckDefault"}
            HTML
        .form-check
          %input#flexCheckDefault.form-check-input{type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckDefault"}
            CSS
        .form-check
          %input#flexCheckDefault.form-check-input{type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckDefault"}
            Python
        .form-check
          %input#flexCheckDefault.form-check-input{type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckDefault"}
            Ruby on Rails
        .form-check
          %input#flexCheckDefault.form-check-input{type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckDefault"}
            Javascript

      .col-md-4
        .form-check
          %input#flexCheckDefault.form-check-input{type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckDefault"}
            AngularJS
        .form-check
          %input#flexCheckChecked.form-check-input{checked: "checked", type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckChecked"}
            NodeJS
        .form-check
          %input#flexCheckDefault.form-check-input{type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckDefault"}
            ReactJS
        .form-check
          %input#flexCheckChecked.form-check-input{checked: "checked", type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckChecked"}
            VueJS

      .col-md-4
        .form-check
          %input#flexCheckDefault.form-check-input{type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckDefault"}
            Ruby on Rails
        .form-check
          %input#flexCheckChecked.form-check-input{checked: "checked", type: "checkbox", value: ""}
          %label.form-check-label{for: "flexCheckChecked"}
            MongoDB

